In [1]:
import datetime as dt
import os
import sys

import numpy as np
import pandas as pd

import dask.dataframe as dd
from dask import delayed

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
delay_data = "C:/Users/tnkar/Documents/Python Scripts/flight_delay_analysis/flights.csv"

In [13]:
delays = dd.read_csv(delay_data, assume_missing = True)

In [14]:
delays.columns

Index(['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK', 'AIRLINE', 'FLIGHT_NUMBER',
       'TAIL_NUMBER', 'ORIGIN_AIRPORT', 'DESTINATION_AIRPORT',
       'SCHEDULED_DEPARTURE', 'DEPARTURE_TIME', 'DEPARTURE_DELAY', 'TAXI_OUT',
       'WHEELS_OFF', 'SCHEDULED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
       'WHEELS_ON', 'TAXI_IN', 'SCHEDULED_ARRIVAL', 'ARRIVAL_TIME',
       'ARRIVAL_DELAY', 'DIVERTED', 'CANCELLED', 'CANCELLATION_REASON',
       'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'AIRLINE_DELAY',
       'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY'],
      dtype='object')

In [43]:
delays_by_reason = delays.groupby('CANCELLATION_REASON')['DEPARTURE_DELAY'].\
agg([np.shape, np.mean, np.std]).compute()

ValueError: unknown aggregate shape

In [40]:
delays_by_reason_pd = pd.read_csv(delay_data).\
groupby('CANCELLATION_REASON')['DEPARTURE_DELAY'].agg([np.shape, np.mean, np.std])

C:\Users\tnkar\AppData\Local\Continuum\anaconda3\envs\DSND\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [41]:
delays_by_reason

                          mean         std
CANCELLATION_REASON
A                    57.028967  111.738473
B                    61.199297   84.563562
C                    44.435780   66.756363
D                    62.000000         NaN

In [42]:
delays_by_reason_pd

                        shape       mean         std
CANCELLATION_REASON
A                    (25262,)  57.028967  111.738473
B                    (48851,)  61.199297   84.563562
C                    (15749,)  44.435780   66.756363
D                       (22,)  62.000000         NaN

In [38]:
np.shape

In [52]:
airlines = dd.read_csv("C:/Users/tnkar/Documents/Python Scripts/flight_delay_analysis/airlines.csv", assume_missing = True)

In [60]:
airlines.compute()

   IATA_CODE                       AIRLINE
0         UA         United Air Lines Inc.
1         AA        American Airlines Inc.
2         US               US Airways Inc.
3         F9        Frontier Airlines Inc.
4         B6               JetBlue Airways
5         OO         Skywest Airlines Inc.
6         AS          Alaska Airlines Inc.
7         NK              Spirit Air Lines
8         WN        Southwest Airlines Co.
9         DL          Delta Air Lines Inc.
10        EV   Atlantic Southeast Airlines
11        HA        Hawaiian Airlines Inc.
12        MQ  American Eagle Airlines Inc.
13        VX                Virgin America

In [61]:
airports = dd.read_csv("C:/Users/tnkar/Documents/Python Scripts/flight_delay_analysis/airports.csv", assume_missing = True)

In [62]:
airports.compute()

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447
...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597

In [73]:
delays.groupby("AIRLINE")["AIRLINE_DELAY"].agg(np.mean).compute()

C:\Users\tnkar\AppData\Local\Continuum\anaconda3\envs\DSND\lib\site-packages\dask\core.py:118: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  args2 = [_execute_task(a, cache) for a in args]

AIRLINE
AA    21.139201
AS    15.543352
B6    18.150503
DL    22.941028
EV    21.651277
F9    14.719983
HA    22.792063
MQ    17.425025
NK    13.766839
OO    18.959163
UA    21.144678
US    17.410107
VX    11.097809
WN    16.191674
Name: AIRLINE_DELAY, dtype: float64